{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>{% block title %}{% endblock %} | TEDxNTUA </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock %}">
  </head>
  <body>
    <div data-barba="wrapper">
      <div data-barba="container" data-barba-namespace="page-a">
        <header>
          {% include "nav/header.html" %}
        </header>
  
        <div id="main">
          {% block content %}{% endblock %}
        </div>
  
        <footer>
          {% include "nav/footer.html" %}
        </footer>
      </div>
    </div>

    {% block scripts %}{% endblock %}


    <!-- load barba (UMD version) -->
    <!-- <script src="https://unpkg.com/@barba/core"></script> -->

    <!-- load gsap animation library (minified version) -->
    <!-- <script src="https://unpkg.com/gsap@latest/dist/gsap.min.js"></script> -->

    <!-- init barba with a simple opacity transition -->
    <!-- <script type="text/javascript">
      barba.init({
        transitions: [{
          name: 'opacity-transition',
          leave(data) {
            return gsap.to(data.current.container, {
              opacity: 0
            });
          },
          enter(data) {
            return gsap.from(data.next.container, {
              opacity: 0
            });
          }
        }]
      });
    </script> -->

  </body>
</html>
