{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>{% block title %}{% endblock %} | TEDxNTUA </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock %}">

    <!--<Deject>-->
    <!-- Will be removed from HTML once css files are concatenated -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/transitions.css' %}">

    <!-- Pass <link> tags to this block -->
    {% block stylesheets %}{% endblock %}
    <!--</Deject>-->

    <!--<Deject>-->
    <!-- Will be replaced with main-{hash}.css once css files are concatenated -->
    <!-- Pass {% static '....css' %} to this block -->
    <!--</Deject>-->
    <link rel="stylesheet" href="{% block css %}{% endblock %}">
  </head>
  <body>
    <div data-barba="wrapper">
      <header>
        {% include "nav/header.html" %}
      </header>

      <div id="main" data-barba="container">
        {% block content %}{% endblock %}
      </div>

      <footer>
        {% include "nav/footer.html" %}
      </footer>
    </div>

    <script type="text/javascript" src="{% static 'js/transitions.js' %}"></script>
    {% block scripts %}{% endblock %}

  </body>
</html>
